<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand" href="<?php echo $this->url->get('/admin/index'); ?>">Tracker</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
            aria-controls="main-menu" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <?php echo $this->dispatcher->getControllerName() === 'users' ? 'active' : ''; ?>">
                <a class="nav-link" href="<?php echo $this->url->get('/admin/users'); ?>">
                    Users
                </a>
            </li>
            <li class="nav-item <?php echo $this->dispatcher->getControllerName() === 'holidays' ? 'active' : ''; ?>">
                <a class="nav-link" href="<?php echo $this->url->get('/admin/holidays'); ?>">
                    Holidays
                </a>
            </li>
            <li class="nav-item <?php echo $this->dispatcher->getControllerName() === 'latenesses' ? 'active' : ''; ?>">
                <a class="nav-link" href="<?php echo $this->url->get('/admin/latenesses'); ?>">
                    Latenesses
                </a>
            </li>
        </ul>
    </div>
</nav>
