<div class="card">
    <div class="card-header">
        <?php echo $this->partial('common/controls/top_menu'); ?>
    </div>

    <div class="card-body">
        <div class="col-md-12">
            <?php echo $this->getContent(); ?>
            <?php echo $this->flashSession->output(); ?>
        </div>

        <form action="<?php echo $form->getUserOption('action'); ?>" method="POST">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <?php echo $form->label('name'); ?>
                            <?php echo $form->render('name', ['class' => 'form-control']); ?>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <?php echo $form->label('date'); ?>
                            <?php echo $form->render('date', ['class' => 'form-control']); ?>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <?php echo $form->label('repeat'); ?>
                            <?php echo $form->render('repeat', ['class' => 'form-control']); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
