<div class="card">
    <div class="card-header">
        <?php echo $this->partial('common/controls/top_menu'); ?>
    </div>

    <div class="card-body">
        <div class="col-md-12">
            <?php echo $this->getContent(); ?>
            <?php echo $this->flashSession->output(); ?>
        </div>

        <div class="col-md-12">
            <?php if (count($page->items)) : ?>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Repeat</th>
                            <th>Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($page->items as $item) : ?>
                            <tr>
                                <td><?php echo $item->name; ?></td>
                                <td><?php echo $item->date; ?></td>
                                <td><?php echo $item->repeat; ?></td>
                                <td class="text-nowrap" width="100">
                                    <?php echo $this->partial('common/controls/edit', ['id' => $item->id]); ?>
                                    <?php echo $this->partial('common/controls/destroy', ['id' => $item->id]); ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php else : ?>
                <p>No entities</p>
            <?php endif; ?>
        </div>
    </div>

    <div class="card-footer">
        <div class="col-md-12">
            <?php if (count($page->items)) : ?>
                <?php echo $this->partial('common/controls/pagination', ['url' => '/admin/holidays', 'page' => $page]); ?>
            <?php endif; ?>
        </div>
    </div>
</div>
