<div class="card">
    <div class="card-body">
        <div class="col-md-6">
            <?php echo $this->getContent(); ?>
            <?php echo $this->flashSession->output(); ?>
        </div>

        <form action="<?php echo $form->getUserOption('action'); ?>" method="POST">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <?php echo $form->label('password'); ?>
                            <?php echo $form->render('password', ['class' => 'form-control']); ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <?php echo $form->label('password_confirmation'); ?>
                            <?php echo $form->render('password_confirmation', ['class' => 'form-control']); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
