<div class="card mt-md-3">
    <div class="card-body">
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td><b>Assigned</b></td>
                    <td><?php echo $totals['assigned'] ?></td>
                </tr>
                <tr>
                    <td><b>You have:</b></td>
                    <td><?php echo $totals['have'] ?></td>
                </tr>
                <tr>
                    <td><b>You have/Assigned:</b></td>
                    <td><?php echo $totals['percent'] ?> %</td>
                </tr>
                <tr>
                    <td><b>Work start time:</b></td>
                    <td><?php echo $totals['work_start'] ?></td>
                </tr>
                <tr>
                    <td><b>Latenesses:</b></td>
                    <td><?php echo $totals['lates'] ?></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card mt-md-3">
    <div class="card-header">
        <div class="row">
            <form class="w-100 d-flex">
                <div class="col-md-3">
                    <select class="form-control" name="month">
                        <?php foreach ($months as $index => $month) : ?>
                            <option value="<?php echo $index ?>" <?php echo $index == $currentMonth ? 'selected' : ''; ?>>
                                <?php echo $month ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </div>

                <div class="col-md-3">
                    <select class="form-control" name="year">
                        <?php for ($year = date('Y'); $year >= $yearFrom; $year--) : ?>
                            <option value="<?php echo $year ?>" <?php echo $year == $currentYear ? 'selected' : ''; ?>>
                                <?php echo $year ?>
                            </option>
                        <?php endfor; ?>
                    </select>
                </div>

                <div class="col-md-3 align-self-end">
                    <button type="submit" class="btn btn-sm btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered" id="tracker" style="display:block;overflow-y:auto;">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-sm btn-primary" id="show-hide">Show/Hide</button>
                    </th>
                    <?php foreach ($users as $user) : ?>
                        <th><?php echo $user->name ?></th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody>
                <?php while ($currentDate->month == $currentMonth) : ?>
                    <tr id="<?php echo $currentDate->format('Y-m-d') === date('Y-m-d') ? 'today' : '' ?>"
                        style="<?php echo !$currentDate->isWeekend() && !in_array($currentDate->day, array_keys($holidays)) ? 'background-color:#F2FFCF;' : ''; ?>">
                        <td class="text-nowrap">
                            <?php echo $this->partial('index/common/day'); ?>
                        </td>
                        <?php foreach ($users as $user) : ?>
                            <td>
                                <?php echo $this->partial('index/common/cell', [
                                    'times' => $user->trackedTimes[$currentDate->day] ?? [],
                                    'user'  => $user
                                ]); ?>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                    <?php $currentDate->addDay(); ?>
                <?php endwhile; ?>
            </tbody>
        </table>
    </div>
</div>
