<div class="card">
    <div class="card-header">
        <a href="<?php echo $this->url->get($routePrefix . 'index') ?>" class="btn btn-primary">List</a>
    </div>

    <div class="card-body">
        <div class="col-md-12">
            <?php echo $this->getContent(); ?>
            <?php echo $this->flashSession->output(); ?>
        </div>

        <div class="col-md-12">
            <form action="/admin/settings/save" method="POST">
                <div class="form-group">
                    <label for="work_start_time">Work Start Time</label>
                    <input type="text" class="form-control" name="settings[work_start_time]" id="work_start_time" value="<?php echo $workStartTime; ?>">
                    <small class="form-text text-muted">Time format: 09:00.</small>
                </div>

                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </form>
        </div>

        <div class="col-md-12 mt-md-3">
            <?php if (count($page->items)) : ?>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Email</th>
                            <th>Start Time</th>
                            <th>Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($page->items as $item) : ?>
                            <tr>
                                <td><?php echo $item->user->name; ?></td>
                                <td><?php echo $item->user->email; ?></td>
                                <td><?php echo $item->time->start_time; ?></td>
                                <td class="text-nowrap" width="100">
                                    <?php echo $this->partial('common/controls/destroy', [
                                        'routePrefix' => $routePrefix,
                                        'id' => $item->id
                                    ]); ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php else : ?>
                <p>No entities</p>
            <?php endif; ?>
        </div>
    </div>

    <div class="card-footer">
        <div class="col-md-12">
            <?php if (count($page->items)) : ?>
                <?php echo $this->partial('common/controls/pagination', [
                    'url' => '/admin/latenesses',
                    'page' => $page
                ]); ?>
            <?php endif; ?>
        </div>
    </div>
</div>
