<?php $total = 0; ?>
<div class="cell" style="max-width: 150px" data-user="<?php echo $user->id; ?>"
     data-date="<?php echo $currentDate->format('Y-m-d') ?>">
    <?php if (count($times)) : ?>
        <?php foreach ($times as $i => $time) : ?>
            <?php $total += max(strtotime($time->stop_time) - strtotime($time->start_time), 0); ?>
            <div class="input-group input-group-sm mt-sm-1" data-time="<?php echo $time->id; ?>">
                <input type="text" class="form-control start-time"
                       value="<?php echo date('H:i', strtotime($time->start_time)); ?>">
                <div class="input-group-prepend input-group-sm">
                    <span class="input-group-text">-</span>
                </div>
                <input type="text" class="form-control stop-time"
                       value="<?php echo $time->stop_time ? date('H:i', strtotime($time->stop_time)) : ''; ?>">
            </div>
        <?php endforeach; ?>

        <div class="input-group input-group-sm mt-sm-1">
            <input type="text" class="form-control start-time">
            <div class="input-group-prepend input-group-sm">
                <span class="input-group-text">-</span>
            </div>
            <input type="text" class="form-control stop-time">
        </div>
    <?php else : ?>
        <div class="input-group input-group-sm mt-sm-1">
            <input type="text" class="form-control start-time">
            <div class="input-group-prepend input-group-sm">
                <span class="input-group-text">-</span>
            </div>
            <input type="text" class="form-control stop-time">
        </div>
    <?php endif; ?>
</div>
<div class="total">
    Total: <span><?php echo \Carbon\Carbon::createFromTimestampUTC($total)->format('H:i'); ?></span>
</div>
