<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            You are in page <?php echo $page->current; ?> of <?php echo $page->total_pages; ?>
        </div>

        <div class="col-md-9 text-right">
            <a href="<?php echo $this->url->get($url) ?>" class="btn btn-sm btn-secondary">
                First
            </a>
            <a href="<?php echo $this->url->get($url, ['page' => $page->before]) ?>"
               class="btn btn-sm btn-secondary">
                Previous
            </a>
            <a href="<?php echo $this->url->get($url, ['page' => $page->next]) ?>"
               class="btn btn-sm btn-secondary">
                Next
            </a>
            <a href="<?php echo $this->url->get($url, ['page' => $page->last]) ?>"
               class="btn btn-sm btn-secondary">
                Last
            </a>
        </div>
    </div>
</div>
