<?php $total = 0; ?>
<?php if ($user->current && $currentDate->format('Y-m-d') === date('Y-m-d')) : ?>
    <div class="cell" data-day="<?php echo $currentDate->day ?>">
        <?php if (count($times)) : ?>
            <?php foreach ($times as $i => $time) : ?>
                <?php $total += max(strtotime($time->stop_time) - strtotime($time->start_time), 0); ?>
                <?php if ($i === count($times) - 1) : ?>
                    <div class="text-nowrap">
                        <?php echo date('H:i', strtotime($time->start_time)) ?> -
                        <?php if ($time->stop_time) : ?>
                            <?php echo date('H:i', strtotime($time->stop_time)); ?>
                        <?php else : ?>
                            <span class="btn btn-sm btn-danger" id="stop-time">Stop</span>
                        <?php endif; ?>
                    </div>
                    <?php if ($time->stop_time) : ?>
                        <div class="text-nowrap">
                            <span class="btn btn-sm btn-primary" id="start-time">Start</span> -
                            <span>...</span>
                        </div>
                    <?php endif; ?>
                <?php else : ?>
                    <div class="text-nowrap">
                        <?php echo date('H:i', strtotime($time->start_time)) ?> -
                        <?php echo $time->stop_time ? date('H:i', strtotime($time->stop_time)) : '...'; ?>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php else : ?>
            <div class="text-nowrap">
                <span class="btn btn-sm btn-primary" id="start-time">Start</span> -
                <span>...</span>
            </div>
        <?php endif; ?>
    </div>
    <div class="total">
        Total: <span><?php echo \Carbon\Carbon::createFromTimestampUTC($total)->format('H:i'); ?></span>
    </div>
<?php else : ?>
    <?php if (count($times)) : ?>
        <div class="cell">
            <?php foreach ($times as $time) : ?>
                <?php $total += max(strtotime($time->stop_time) - strtotime($time->start_time), 0); ?>
                <div class="text-nowrap">
                    <?php echo date('H:i', strtotime($time->start_time)) ?> -
                    <?php echo $time->stop_time ? date('H:i', strtotime($time->stop_time)) : '...'; ?>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="total">
            Total: <span><?php echo \Carbon\Carbon::createFromTimestampUTC($total)->format('H:i'); ?></span>
        </div>
    <?php endif; ?>
<?php endif; ?>
