<b><?php echo $currentDate->day; ?></b>
<?php if (in_array($currentDate->day, array_keys($holidays))) : ?>
    <span class="badge badge-danger"><?php echo $currentDate->format('l'); ?></span>
    <?php if ($holidays[$currentDate->day]) : ?>
        <div><i>(<?php echo $holidays[$currentDate->day] ?>)</i></div>
    <?php endif; ?>
<?php elseif ($currentDate->isWeekend()) : ?>
    <span class="badge badge-light"><?php echo $currentDate->format('l'); ?></span>
<?php else : ?>
    <span class="badge badge-info"><?php echo $currentDate->format('l'); ?></span>
<?php endif; ?>

