<div class="card">
    <div class="card-header">
        <?php echo $this->partial('common/controls/top_menu'); ?>
    </div>

    <div class="card-body">
        <div class="col-md-12">
            <?php echo $this->getContent(); ?>
            <?php echo $this->flashSession->output(); ?>
        </div>

        <form action="<?php echo $form->getUserOption('action'); ?>" method="POST">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <?php echo $form->label('login'); ?>
                            <?php echo $form->render('login', ['class' => 'form-control']); ?>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Password">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <?php echo $form->label('email'); ?>
                            <?php echo $form->render('email', ['class' => 'form-control']); ?>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <?php echo $form->label('name'); ?>
                            <?php echo $form->render('name', ['class' => 'form-control']); ?>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <?php echo $form->label('role'); ?>
                            <?php echo $form->render('role', ['class' => 'form-control']); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
