<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<?php echo $this->url->get('/'); ?>">Tracker</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
            aria-controls="main-menu" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <?php echo $this->dispatcher->getControllerName() === 'password' ? 'active' : ''; ?>">
                <a class="nav-link" href="<?php echo $this->url->get('/password'); ?>">
                    Change password
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<?php echo $this->url->get('/logout'); ?>">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
